/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Config padrões*/


/* modal */
#modal-db{
    display: none;
}
#modal-prin{
    display: none;
}
.modal-bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    /* display: none; */
    
}
.modal-lg{
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 500px;
    /* border: 1px solid #fff; */
    z-index: 100;
    /* top: 85px; */
    display: flex;
    flex-direction: column;
}
.modal-title{
    display: flex;
    justify-content: space-between;
    background-color: #808080;
    width: 100%;
    height: 70px;
    border-radius: 15px 15px 0 0;
}
.modal-title h3{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding: 15px;
    margin-top: 10px;
}
.modal-close{
    margin-top: 24px;
}
.modal-title span{
    color: #000;
    font-weight: 600;
    background-color: #dc3545;
    padding: 8px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.modal-contents{
    width: 100%;
    height: 385px;
    /* border-radius: 0 0 5px 5px; */
}
.modal-contents .cursor{
    color: #fff;
    padding-left: 5px;
    animation: blinker 0.5s step-start infinite;
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}
.text-terminal{
    color: #fff;
    padding-left: 5px;
}
.modal-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    border: 3px double #222;
}

.modal-buttons .btn{
    margin-top: 4px;
    margin-left: 10px;
}
.modal-buttons span{
    color: #fff;
    padding: 15px;
}
.modal-buttons .version{
    margin-top: 5px;
}

/* Login */
.td-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.td-title h3{
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}
.card-footer{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.btn-custom-config{
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #dc3545;
    transition: all .8s ease;
    margin-left: 5px;
}
.btn-custom-config i{
    color: #fff;
    
}
.btn-custom-config:hover {
    transform: scale(1.1);
}
.title-user-todo{
    color: #212529;
    font-size: 26px;
    font-family: 'Roboto Condensed', sans-serif;
}
.title-user-todo span{
    font-weight: 700;
}
.card{
    width: 350px;
    margin: 0 auto;
    height: 450px;
}
.card.tm-card{
    height: 150px;
}
#todo-form-register .btn,
.login-form .btn{
    width: 100%;
}
.cadastro-text a.link-custom,
.td-flex-row a.link-custom{
    text-decoration: none;
    font-size: 14px;
}
.alert-login{
    width: 350px;
    margin: 0 auto;
}
.alerts-todo{
    width: 350px;
    margin: 0 auto;
    display: none;
}
.tm{
    width: 60px;
}

/* Footer */
.fixed-bottom.todo-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.fixed-bottom.todo-footer .todo-version,
.fixed-bottom.todo-footer .todo-copy{
    color: #fff;
}
.fixed-bottom.todo-footer .todo-copy span{
    color: #cf455c;
    font-weight: 700;
} 



.logo{
    color: #fff;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;    
}

.logout{
    height: 100%;
}
.logout a{
    
    color: #808080;
}
.logout a i{
    font-size: 40px;
}
.logout a:hover{
    color: #6c757d;
}

.app {
	margin-top: 25px;
}

.mt-6{
    margin-top: 32px;
}
.pagina {
	border:solid 1px #DFDFDF;
	padding:25px !important;
}

li.list-group-item.verde.active {
	background-color: #fff;
    border-color: #28a745;
    border-left:solid 10px #28a745;
}
li.list-group-item.azul.active {
	background-color: #fff;
    border-color: #007bff;
    border-left:solid 10px #007bff;
}
li.list-group-item.vermelho.active {
	background-color: #fff;
    border-color: #dc3545;
    border-left:solid 10px #dc3545;
}
li.list-group-item.azul-claro.active {
	background-color: #fff;
    border-color: #17a2b8;
    border-left:solid 10px #17a2b8;
}

.card.azul{
    border-color: #007bff;
}

.card.vermelho{
    border-color: #dc3545;
}

.card.cinza{
    border-color: #6c757d;
}

.card.amarelo{
    border-color: #ffc107;
}

.card-body, .card-header{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    
}
.card-body span{
    font-weight: 400;
    font-size: 16px;
}

li a {
	color: #212529;
}

li a:hover {
	text-decoration: none;
}

/* Dashboard */

.dashboard-content{
    display: flex;
    flex-direction: row;
    width: 100%; 
}
span.qtde-task{
    font-size: 18px;
    font-weight: 800;
    margin-left: 15px;
}

.task-infos{
    display: flex;
    flex-direction: row;
    width: 200px;
    border-radius: 4px;
    height: 60px;
    padding: 15px;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}
.task-infos .text-info{
    color: #fff !important;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
.task-infos .text-num-task span{
    width: 40px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

i.fas{
    cursor: pointer;
}

.img-spnnier{
    position: absolute;
    z-index: 150;
    left: calc(50% - 15%);
    top: calc(50% - 30%);
    display: none;
}

#update-tasks{
    display: none;
}

/* New Task */
#alert-msg-task{
    display: none;
}
#loading-register{
    display: none;
}

.tm-task{
    height: 400px;
    overflow-y: auto;
}
.header-task{
    background-color: #fff;
    margin-bottom: 15px;
}